<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Order" >
        <parameter name="selenium.browser" value="chrome" />
        <parameter name="selenium.browserFF" value="firefox" />
        <parameter name="selenium.browserIE" value="ie" />
        <parameter name="selenium.browserPJS" value="phantomjs" />
        <parameter name="selenium.android" value="android" />
        <parameter name="selenium.grid" value="http://localhost:4444/wd/hub" />
        <classes>
            <class name="HomeTask5.tests.PlaceOrderTest" />
        </classes>
    </test>

    <!--Configure tests for other browser types-->
</suite>
